/*parte 1*/

*{ /*seleciona tudo*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{ /*afeta todos os p*/
    color: red;
} /*afeta todos os p dentro da section dentro de div dentro de body*/
body div section p,
body div section h1 {
    color: yellow;
}
.color-aqua{
    color: aqua;
}

.main-content h2{ /*o h2 que é filho da classe main-content*/
    font-style: italic;
}
div.main-content h2.heading{ /*O h2 com a classe heading que é filho da div com a classe main-content */
    color: red;
}

div{
    margin-left: 10px;
    color: initial;
}
.pai{
    color: blue;
}
.pai.filha{ /*Sem o espaçamento indica que algo tem que ter as duas classes para que seja aplicado*/
background: blue;
}

.pai > .filha { /* Seleciona as filhas diretas da div pai, as filhas "netas" dele não se aplica, não se esqueça de olhar a herança */
    color: red;
}
.pai > .filha > .filha{
    color: blue;
}

/*
o nth-child() serve para selecionar o elemento entre seus irmãos

parâmentros que podem ser colocados: 
    2,3,1 - posição - começa pelo 1
    even - pares
    odd - ímpares
    5n - no caso vai de 5 em 5
    3n+5 - no caso vai de 3 em 3, MAS COMEÇA DO QUINTO
*/

ul li:nth-child(odd){
    background-color: blueviolet;
}

ul li:nth-child(even){
    background-color: lawngreen;
}
ul li:nth-child(3n){
    background-color: darkred;
}
ul li:nth-child(3n+5){
    background-color: darkcyan;
}

/*Parte 2*/
.pai h1+p{
     /*
    adjascent sibling selector

     Seleciona o elemento que está dentro da classe pai, que está diretamente depois do h1
     "O h1 que vem logo depois do P"
    */
    background-color:aquamarine;
}

.pai h1~p{
    /*
    General sibling selector

    Seleciona TODOS os elementos p que vem depois do h1
    */

    background-color: blueviolet;
}
